/*新闻栏*/
#info{margin:20px auto;width:100%;height:300px;background:#435a7b;background: -webkit-linear-gradient(#435a7b, #36404e); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#435a7b, #36404e); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#435a7b, #36404e); /* Firefox 3.6 - 15 */
  background: linear-gradient(#435a7b, #36404e); /* 标准的语法 */}
#ban{width:600px;height:300px;background:#fff;overflow:hidden;position:relative;display:inline-block;z-index:10;margin:0}
#img{width:3000px;height:300px;position:absolute;left:0}
#ban ul{position:absolute;top:250px;left:50%;width:140px;margin-left:-70px;text-align:center}
#ban li{display:inline-block;width:10px;height:10px;border-radius:50%;border:2px solid #fff;margin:5px;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
#ban li:hover{background-color:#fff;cursor:pointer}
#ban li.cur{background-color:#fff;cursor:pointer}
#news{display:inline-block;vertical-align:top;padding:15px 0 0 10px;margin:0;position:relative;color: #fff;font-size:15px;}
#news h2{display:inline-block;margin:0 10px 0 8px;vertical-align: center;font-weight:500;}
#news h2.now{color:#f6c35e;}
#news h2:hover{cursor: pointer;}
#news span{float: right;margin: 3px 22px 0 0;font-family: Courier;color: #14324b;font-weight: bold;font-size: 14px;}
#news span:hover{color: #f6c35e;cursor: pointer;}
.newsbox{display:inline-block;position:relative;width:285px;top:10px;}
.newsbox li{width:100%;height:20px;color:#fff;text-indent:10px;padding:7px 0 0 0;font-size:13px;font-family:Microsoft Yahei;letter-spacing:1px;z-index:500;display:inline-block;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.newsbox li:hover{color:#f6c35e;cursor:pointer}
#slide{width:344px;height:27px;background:#14324b;position:absolute;top:48px;border-left:2px solid #3dbdae;opacity:.8}
.date{display:inline-block;width:52px;height:245px;vertical-align:top;margin:10px 0 0 0;position:relative}
.date li{width:100%;height:20px;color:#fff;padding:7px 0 0 0;font-size:13px;font-family:Microsoft Yahei;letter-spacing:1px;display:inline-block;z-index:501;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.hidden{display: none;}
/*主要内容*/
.section{display: inline-block;position: relative;height: 200px;vertical-align: top;}
.left{width: 270px;margin: 35px 30px 0 0;}
.title{width: 100%;height: 25px;background-color: #f9f9f9;box-shadow:0 -3px 10px 3px #eee inset;border-radius: 3px;}
.title span{float: right;margin: 3px 15px 0 0;font-family: Courier;color: #999;font-weight: bold;font-size: 14px;}
.title span:hover{color: #f6c35e;cursor: pointer;}
.name{display:inline-block;height:35px;margin-left: 8px;padding: 2px 3px 0 5px;background-color: #fff;border-top: 3px solid #f8c255;font-size: 16px;text-align: center;font-family:幼圆;font-weight: bolder;color: #444;border-radius: 2px;z-index: 300;}
.name:hover{cursor: pointer;}
.left .name{width: 80px;}
.left li,.right li{color: #222;height:20px; }
.left div.newsbox{width: 220px;height: 100%}
.contain{width:350px;height: 170px;position: absolute;overflow: hidden;}
.tab{position: absolute;width: 1400px;}
.right div.newsbox{width: 290px;height: 150px;}
.left .date,.right .date{width: 46px;height: 140px;margin-top:10px;}
.left .date li,.right .date li{font-size: 13px;}
.test{width: 100%;height: 10px;background-color: #ddd;}
.right{width:350px;margin: 35px 0 0 0}
.unpick{background: none;box-shadow: none;border:none;font-size: 14px;}
