.clear{clear:both}
.content{width:960px;margin:0 auto}
h2{font-size:15px;font-weight:700;font-family:Microsoft Yahei;letter-spacing:1px}
form{display:inline-block}
input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;font-family:inherit;font-size:100%}
input::-webkit-search-decoration,input::-webkit-search-cancel-button{display:none}
/*顶栏*/
#header{width:100%;height:24px;background-color:#36404d;text-align:right;color:white;padding:4px 20px 0 0;position:fixed;z-index: 1001;}
#header span:hover{color:#f8c255}
#header input[type=search]{background:transparent url(../img/search-icon1.png) no-repeat 2px center;width:18px;height:18px;color:transparent;cursor:pointer;-webkit-border-radius:10em;-moz-border-radius:10em;border-radius:10em;border:1px solid #ccc;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s;font-size:14px}
#header input[type=search]:hover{background:#fff url(../img/search-icon1.png) no-repeat 2px center}
#header input[type=search]:focus{width:120px;padding-left:32px;color:#000;background:#fff url(../img/search-icon2.png) no-repeat 2px center;cursor:auto;border-color:#6dcff6;-webkit-box-shadow:0 0 5px rgba(109,207,246,.5);-moz-box-shadow:0 0 5px rgba(109,207,246,.5);box-shadow:0 0 5px rgba(109,207,246,.5)}
#top{background:#e9eae2 url(../img/bg.jpg) no-repeat center 28px;width:100%;height:570px}
#cube{width:124px;height:182px;background:#f8c255 url(../img/Logo.png) no-repeat 50% 75%;display:inline-block;border-radius:5%}
/*导航栏*/
#guide{width:960px;height:48px;background-color:#f3f3f3;box-shadow:0 2px 10px 1px #ddd;margin-top:12px;position:relative}
#guide li{width:92px;height:31px;display:inline-block;text-align:center;padding:14px 0 0 0;font-size:15px;color:#435a7b;letter-spacing:-1px;font-weight:500}
#guide li:hover{color:#fda900}
#fly{width:92px;height:3px;background-color:#f8c255;position:absolute}
#dropdown{position:absolute;z-index:1000}
.menu{display:inline-block;width:92px;vertical-align:top;top:10px;text-align: center;}
.menu ul{width:92px;padding:10px 0 10px 0;background:#fff;font-size:12px;display:none}
.menu li:hover{color:#fda900;cursor:pointer}
/*新闻栏*/
#info{margin:20px auto;width:100%;height:300px;background:#435a7b;background: -webkit-linear-gradient(#435a7b, #36404e); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#435a7b, #36404e); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#435a7b, #36404e); /* Firefox 3.6 - 15 */
  background: linear-gradient(#435a7b, #36404e); /* 标准的语法 */}
#ban{width:600px;height:300px;background:#fff;overflow:hidden;position:relative;display:inline-block;z-index:10;margin:0}
#img{width:3000px;height:300px;position:absolute;left:0}
#ban ul{position:absolute;top:250px;left:50%;width:140px;margin-left:-70px;text-align:center}
#ban li{display:inline-block;width:10px;height:10px;border-radius:50%;border:2px solid #fff;margin:5px;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
#ban li:hover{background-color:#fff;cursor:pointer}
#ban li.cur{background-color:#fff;cursor:pointer}
#news{display:inline-block;vertical-align:top;padding:15px 0 0 10px;margin:0;position:relative;color: #fff;font-size:15px;}
#news h2{display:inline-block;margin:0 10px 0 8px;vertical-align: center;font-weight:500;}
#news h2.now{color:#f6c35e;}
#news h2:hover{cursor: pointer;}
#news span{float: right;margin: 3px 22px 0 0;font-family: Courier;color: #14324b;font-weight: bold;font-size: 14px;}
#news span:hover{color: #f6c35e;cursor: pointer;}
.newsbox{display:inline-block;position:relative;width:285px;top:10px;}
.newsbox li{width:100%;height:20px;color:#fff;text-indent:10px;padding:7px 0 0 0;font-size:12px;font-family:Microsoft Yahei;letter-spacing:1px;z-index:500;display:inline-block;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.newsbox li:hover{color:#f6c35e;cursor:pointer}
#slide{width:344px;height:27px;background:#14324b;position:absolute;top:48px;border-left:2px solid #3dbdae;opacity:.8}
.date{display:inline-block;width:52px;height:245px;vertical-align:top;margin:10px 0 0 0;position:relative}
.date li{width:100%;height:20px;color:#fff;padding:7px 0 0 0;font-size:12px;font-family:Microsoft Yahei;letter-spacing:1px;display:inline-block;z-index:501;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.hidden{display: none;}
/*主要内容*/
.section{display: inline-block;position: relative;height: 200px;vertical-align: top;}
.left{width: 270px;margin: 35px 30px 0 0;}
.title{width: 100%;height: 25px;background-color: #f9f9f9;box-shadow:0 -3px 10px 3px #eee inset;border-radius: 3px;}
.title span{float: right;margin: 3px 15px 0 0;font-family: Courier;color: #999;font-weight: bold;font-size: 14px;}
.title span:hover{color: #f6c35e;cursor: pointer;}
.name{display:inline-block;height:35px;margin-left: 8px;padding: 2px 3px 0 5px;background-color: #fff;border-top: 3px solid #f8c255;font-size: 16px;text-align: center;font-family:幼圆;font-weight: bolder;color: #444;border-radius: 2px;z-index: 300;}
.name:hover{cursor: pointer;}
.left .name{width: 80px;}
.left li,.right li{color: #222;height:20px; }
.left div.newsbox{width: 220px;height: 100%}
.contain{width:350px;height: 170px;position: absolute;overflow: hidden;}
.tab{position: absolute;width: 1400px;}
.right div.newsbox{width: 290px;height: 150px;}
.left .date,.right .date{width: 46px;height: 140px;margin-top:5px;}
.left .date li,.right .date li{font-size: 12px;}
.test{width: 100%;height: 10px;background-color: #ddd;}
.right{width:350px;margin: 35px 0 0 0}
.unpick{background: none;box-shadow: none;border:none;font-size: 14px;}
/*底栏*/
#bottom{background-color: #e9eae2;margin-top: 20px;}
#bottom .part{display: inline-block;padding: 30px 0 20px 0;width: 300px;}
#bottom ul{display: inline-block;margin-right: 46px;vertical-align: top;}
#bottom .link{margin:0 0 10px 15px;font-size: 16px;font-weight: 800;font-family: 幼圆}
#bottom li{margin: 10px;font-family: Microsoft Yahei;}
#bottom li:hover{color:#f6c35e;cursor:pointer}
#bottom .part:last-child{width: 350px;}
#bottom .part:last-child ul{margin: -25px -20px 0 0;}
#popular{display: inline-block;padding: 30px 0 0 0;position: relative;vertical-align: top;left: -25px;}
#popular div{display: inline-block;width: 30px;height: 30px;margin-right: 10px;overflow: hidden;}
#popular div img{position:relative;cursor: pointer;}
#popular div:nth-of-type(1) img{}
#popular div:nth-of-type(2) img{left: -30px;}
#popular div:nth-of-type(3) img{left: -60px;}
#copyright{width:100%;height:24px;background-color:#36404d;text-align:center;color:white;padding:6px 0 0 0;vertical-align: top;}
#copyright span{font-size: 25px;font-family: serif;line-height: 22px;}