#infopad{width:450px;position: relative;left: -120px};
#infopad tr td{width:100px;text-align:left;}
#infopad tr>td:nth-child(odd){border:none;color:#999;}
#infopad tr>td:nth-child(even){border:none;}
.title1{color:#222;margin-top:40px;font-size:18px;font-weight:bold}
.title2{color:#999;margin:15px 20px 0;}
.title3{color:#666;margin:15px 20px 0;border-left:3px solid #fad900;border-bottom:1px solid #fad900;font-size:14px;padding-left:5px;}
.plainText{color:#222;font-size:13px;margin-top:3px;text-indent: 30px;}
.plainList{margin:10px 0 0 20px;}
.plainList li{color:#222;margin-left:10px;font-size:13px;display:inline-block}
.shortList{margin:10px 20px;color:#222;font-size:13px;display:inline-block;border-left:1px dashed #48A0DB;padding-left:20px;}
.shortList ol{text-indent:10px;}
.shortList ol ol{margin-left:20px;}
.longList{color:#222;display:inline-block;border-left:1px dashed #48A0DB;padding-left:20px;font-size:13px;line-height:24px;}
.longList .normal{color:#222;display:inline-block;border-left:1px dashed #48A0DB;padding-left:20px;font-size:15px;line-height:24px;}
#quickLink{position: absolute;left: 755px;top: 160px;width: 95px;background-color: rgba(200,200,200,0.5);padding:20px 5px 20px 25px;font-size: 13px;}
#quickLink ul{list-style: disc;text-indent: 10px;color: #999;}
#quickLink ul li:hover{color: #39c;cursor: pointer;}
#quickLink ul li.get{color: #39c;}
#quickLink ul li.s{list-style: none;text-indent: 10px;font-size: 11px;/*color: #53B99C*/}
#quickLink ul li.s:hover{color: #39c;cursor: pointer;}
#quickLink ul li.ss{list-style: none;text-indent: 12px;font-size: 9px;/*color: #99B344*/}
#quickLink ul li.ss:hover{color: #39c;cursor: pointer;}