body {
  margin:0px;
  background-image:url('../../images/主页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:622px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:18px;
  top:911px;
  width:604px;
  height:109px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:109px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:109px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:109px;
}
#u2 {
  position:absolute;
  left:2px;
  top:46px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:109px;
  opacity:0;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:109px;
}
#u4 {
  position:absolute;
  left:2px;
  top:46px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:18px;
  top:780px;
  width:604px;
  height:109px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:109px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:109px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:109px;
}
#u7 {
  position:absolute;
  left:2px;
  top:46px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:109px;
  opacity:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:109px;
}
#u9 {
  position:absolute;
  left:2px;
  top:46px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:520px;
  top:780px;
  width:102px;
  height:109px;
  opacity:0;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:109px;
}
#u11 {
  position:absolute;
  left:2px;
  top:46px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:520px;
  top:911px;
  width:102px;
  height:109px;
  opacity:0;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:109px;
}
#u13 {
  position:absolute;
  left:2px;
  top:46px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
