body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:36px;
  top:44px;
  width:24px;
  height:46px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:46px;
}
#u2 {
  position:absolute;
  left:2px;
  top:15px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:268px;
  top:44px;
  width:102px;
  height:45px;
  font-family:'方正细等线_GBK Bold', '方正细等线_GBK';
  font-size:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:45px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:30px;
  top:140px;
  width:580px;
  height:170px;
}
#u5_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:600px;
  height:190px;
}
#u6 {
  position:absolute;
  left:2px;
  top:77px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:75px;
  top:172px;
  width:133px;
  height:37px;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  color:#666666;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:37px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:75px;
  top:249px;
  width:133px;
  height:37px;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  color:#666666;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:37px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:42px;
  top:219px;
  width:556px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:539px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:556px;
  height:1px;
}
#u12 {
  position:absolute;
  left:498px;
  top:155px;
  width:100px;
  height:69px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u13 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:498px;
  top:229px;
  width:100px;
  height:69px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u15 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:30px;
  top:370px;
  width:580px;
  height:250px;
}
#u16_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:600px;
  height:270px;
}
#u17 {
  position:absolute;
  left:2px;
  top:117px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:75px;
  top:402px;
  width:362px;
  height:37px;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:37px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:75px;
  top:479px;
  width:133px;
  height:37px;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  color:#666666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:42px;
  top:449px;
  width:556px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:539px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:556px;
  height:1px;
}
#u23 {
  position:absolute;
  left:498px;
  top:385px;
  width:100px;
  height:69px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u24 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:498px;
  top:459px;
  width:100px;
  height:69px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u26 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:75px;
  top:554px;
  width:133px;
  height:37px;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:37px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:42px;
  top:527px;
  width:556px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:539px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:556px;
  height:1px;
}
#u30 {
  position:absolute;
  left:498px;
  top:534px;
  width:100px;
  height:69px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u31 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:30px;
  top:680px;
  width:580px;
  height:170px;
}
#u32_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:600px;
  height:190px;
}
#u33 {
  position:absolute;
  left:2px;
  top:77px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:75px;
  top:712px;
  width:199px;
  height:37px;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  color:#666666;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:37px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:75px;
  top:789px;
  width:67px;
  height:37px;
  font-family:'黑体-简 中等', '黑体-简';
  font-weight:400;
  color:#666666;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:37px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:42px;
  top:759px;
  width:556px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:539px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:556px;
  height:1px;
}
#u39 {
  position:absolute;
  left:498px;
  top:695px;
  width:100px;
  height:69px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u40 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:498px;
  top:769px;
  width:100px;
  height:69px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u42 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
