body {
  margin:0px;
  background-image:url('../../images/主页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:614px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:40px;
  width:594px;
  height:1046px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:1046px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:1046px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:1046px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:1046px;
}
#u2 {
  position:absolute;
  left:2px;
  top:515px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:70px;
  top:878px;
  width:454px;
  height:75px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:75px;
}
#u4 {
  position:absolute;
  left:2px;
  top:30px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:616px;
  width:454px;
  height:340px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:340px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:70px;
  top:626px;
  width:454px;
  height:312px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:312px;
}
#u7 {
  position:absolute;
  left:2px;
  top:148px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:516px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:516px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:30px;
  top:80px;
  width:266px;
  height:266px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:266px;
}
#u10 {
  position:absolute;
  left:2px;
  top:125px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:33px;
  top:80px;
  width:267px;
  height:265px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:265px;
}
#u12 {
  position:absolute;
  left:2px;
  top:124px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:335px;
  top:220px;
  width:173px;
  height:50px;
  font-family:'Segoe Print Bold', 'Segoe Print';
  font-size:28px;
  color:#5386B1;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:50px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:445px;
  top:270px;
  width:126px;
  height:29px;
  font-family:'长城中圆体 Bold', '长城中圆体';
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:29px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:512px;
  top:437px;
  width:54px;
  height:53px;
  font-size:18px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:53px;
}
#u17_img.mouseOver {
  left:-10px;
  top:-10px;
  width:74px;
  height:73px;
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:50px;
  word-wrap:break-word;
}
#u8_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:516px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:143px;
  top:72px;
  width:307px;
  height:288px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:288px;
}
#u20 {
  position:absolute;
  left:2px;
  top:136px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:195px;
  top:410px;
  width:388px;
  height:36px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:36px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:185px;
  top:460px;
  width:392px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:412px;
  height:55px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:388px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:382px;
  top:462px;
  width:82px;
  height:30px;
  opacity:0.5;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:92px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:482px;
  top:462px;
  width:82px;
  height:30px;
  opacity:0.5;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:92px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:283px;
  top:462px;
  width:82px;
  height:30px;
  opacity:0.5;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:92px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u8_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:516px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:54px;
  top:47px;
  width:296px;
  height:283px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:283px;
}
#u32 {
  position:absolute;
  left:2px;
  top:134px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:410px;
  top:300px;
  width:109px;
  height:160px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:160px;
}
#u34 {
  position:absolute;
  left:2px;
  top:72px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:516px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:55px;
  top:130px;
  width:481px;
  height:317px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:317px;
}
#u36 {
  position:absolute;
  left:2px;
  top:150px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:426px;
  top:60px;
  width:134px;
  height:31px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:267px;
  top:285px;
  width:36px;
  height:36px;
  opacity:0;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u39_img.mouseOver {
  left:-10px;
  top:-10px;
  width:56px;
  height:56px;
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:152px;
  top:159px;
  width:267px;
  height:111px;
  overflow:hidden;
  visibility:hidden;
}
#u41_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:111px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:111px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:111px;
}
#u43 {
  position:absolute;
  left:2px;
  top:48px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:250px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:250px;
}
#u45 {
  position:absolute;
  left:2px;
  top:117px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:516px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:384px;
  width:594px;
  height:66px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:66px;
}
#u47 {
  position:absolute;
  left:2px;
  top:25px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:171px;
  top:133px;
  width:252px;
  height:284px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:284px;
}
#u49 {
  position:absolute;
  left:2px;
  top:134px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:251px;
  top:62px;
  width:92px;
  height:38px;
  font-family:'Verdana Negreta', 'Verdana';
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:39px;
  top:136px;
  width:91px;
  height:284px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:284px;
}
#u53 {
  position:absolute;
  left:2px;
  top:134px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:470px;
  top:130px;
  width:90px;
  height:284px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:284px;
}
#u55 {
  position:absolute;
  left:2px;
  top:134px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:70px;
  top:616px;
  width:454px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:70px;
  top:706px;
  width:454px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:70px;
  top:796px;
  width:454px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:70px;
  top:886px;
  width:454px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:absolute;
  left:42px;
  top:475px;
  width:70px;
  height:70px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u60_img.mouseOver {
  left:-25px;
  top:-25px;
  width:120px;
  height:120px;
}
#u60.mouseOver {
}
#u60_img.mouseDown {
  left:-15px;
  top:-15px;
  width:100px;
  height:100px;
}
#u60.mouseDown {
}
#u61 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
