body {
  margin:0px;
  background-image:url('../../images/主页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-10px;
  width:640px;
  height:1136px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:21px;
  top:44px;
  width:594px;
  height:1046px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:1046px;
}
#u2 {
  position:absolute;
  left:2px;
  top:515px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:80px;
  top:520px;
  width:70px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3_img.mouseOver {
  left:-15px;
  top:-15px;
  width:100px;
  height:100px;
}
#u3.mouseOver {
}
#u3_img.mouseDown {
  left:-15px;
  top:-15px;
  width:100px;
  height:100px;
}
#u3.mouseDown {
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:230px;
  top:120px;
  width:169px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:28px;
  color:#666666;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:177px;
  top:184px;
  width:286px;
  height:286px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:286px;
}
#u8 {
  position:absolute;
  left:2px;
  top:135px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:142px;
  top:660px;
  width:317px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:41px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:100px;
  top:720px;
  width:440px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:423px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:440px;
  height:1px;
}
#u12 {
  position:absolute;
  left:258px;
  top:820px;
  width:125px;
  height:125px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u13 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:118px;
  top:740px;
  width:275px;
  height:82px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:82px;
}
#u15 {
  position:absolute;
  left:2px;
  top:33px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:310px;
  top:317px;
  visibility:hidden;
}
#u16_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  opacity:0;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:306px;
  top:186px;
  width:28px;
  height:28px;
  font-family:'AIGDT Bold', 'AIGDT';
  font-weight:700;
  font-size:10px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:306px;
  top:224px;
  width:28px;
  height:28px;
  font-family:'AIGDT Bold', 'AIGDT';
  font-weight:700;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:362px;
  top:658px;
  width:57px;
  height:42px;
  font-family:'AR JULIAN Bold', 'AR JULIAN';
  font-size:36px;
  color:#33FFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:42px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
  text-shadow:3px 3px 6px rgba(0, 0, 0, 0.3490196);
  -webkit-text-shadow:3px 3px 6px rgba(0, 0, 0, 0.3490196);
  -moz-text-shadow:3px 3px 6px rgba(0, 0, 0, 0.3490196);
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  overflow:hidden;
}
#u25_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u27 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:308px;
  top:314px;
  width:143px;
  height:180px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:180px;
}
#u29 {
  position:absolute;
  left:2px;
  top:82px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:290px;
  top:470px;
  width:48px;
  height:68px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:68px;
}
#u31 {
  position:absolute;
  left:2px;
  top:26px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:430px;
  top:290px;
  width:60px;
  height:56px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:56px;
}
#u33 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:357px;
  top:157px;
  width:253px;
  height:147px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:147px;
}
#u35 {
  position:absolute;
  left:2px;
  top:66px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:544px;
  top:210px;
  width:54px;
  height:54px;
  opacity:0;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u37 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:470px;
  top:209px;
  width:55px;
  height:55px;
  opacity:0;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u39 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:1136px;
  overflow:hidden;
}
#u40_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:1136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:-150px;
  top:0px;
  width:161px;
  height:334px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:334px;
}
#u42 {
  position:absolute;
  left:2px;
  top:159px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:-150px;
  top:334px;
  width:161px;
  height:122px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:122px;
}
#u44 {
  position:absolute;
  left:2px;
  top:53px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:-150px;
  top:456px;
  width:161px;
  height:123px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:123px;
}
#u46 {
  position:absolute;
  left:2px;
  top:54px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:-150px;
  top:579px;
  width:161px;
  height:122px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:122px;
}
#u48 {
  position:absolute;
  left:2px;
  top:53px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:-150px;
  top:701px;
  width:161px;
  height:123px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:123px;
}
#u50 {
  position:absolute;
  left:2px;
  top:54px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:-150px;
  top:824px;
  width:161px;
  height:312px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:312px;
}
#u52 {
  position:absolute;
  left:2px;
  top:148px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:40px;
  top:1050px;
  width:57px;
  height:57px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u53_img.mouseOver {
  left:-15px;
  top:-15px;
  width:87px;
  height:87px;
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:1136px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:334px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:334px;
}
#u56 {
  position:absolute;
  left:2px;
  top:159px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:334px;
  width:161px;
  height:122px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:122px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
  opacity:0.7;
}
#u58 {
  position:absolute;
  left:2px;
  top:53px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:456px;
  width:161px;
  height:123px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:123px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
  opacity:0.7;
}
#u60 {
  position:absolute;
  left:2px;
  top:54px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:579px;
  width:161px;
  height:122px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:122px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
  opacity:0.7;
}
#u62 {
  position:absolute;
  left:2px;
  top:53px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:701px;
  width:161px;
  height:123px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:123px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
  opacity:0.7;
}
#u64 {
  position:absolute;
  left:2px;
  top:54px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:824px;
  width:161px;
  height:312px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:312px;
}
#u65_img.mouseOver {
}
#u65.mouseOver {
  opacity:0.7;
}
#u66 {
  position:absolute;
  left:2px;
  top:148px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:920px;
  width:160px;
  height:216px;
  opacity:0;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:216px;
}
#u68 {
  position:absolute;
  left:2px;
  top:100px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:26px;
  top:260px;
  width:597px;
  height:597px;
  overflow:hidden;
}
#u69_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:597px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u69_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:597px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u69_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:597px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:597px;
}
#u71 {
  position:absolute;
  left:2px;
  top:290px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:146px;
  top:146px;
  width:304px;
  height:304px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:304px;
}
#u73 {
  position:absolute;
  left:2px;
  top:144px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:370px;
  top:34px;
  width:60px;
  height:56px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:56px;
}
#u75 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:200px;
  top:146px;
  width:60px;
  height:56px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:56px;
}
#u77 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:86px;
  top:394px;
  width:60px;
  height:56px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:56px;
}
#u79 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:340px;
  top:284px;
  width:60px;
  height:56px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:56px;
}
#u81 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:300px;
  top:460px;
  width:60px;
  height:56px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:56px;
}
#u83 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:490px;
  top:224px;
  width:60px;
  height:56px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:56px;
}
#u85 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:460px;
  top:440px;
  width:60px;
  height:56px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:56px;
}
#u87 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:510px;
  top:324px;
  width:60px;
  height:56px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:56px;
}
#u89 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:300px;
  top:534px;
  width:48px;
  height:68px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:68px;
}
#u91 {
  position:absolute;
  left:2px;
  top:26px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:465px;
  top:961px;
  width:175px;
  height:175px;
  overflow:hidden;
}
#u92_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:175px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u92_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:175px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u92_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93 {
  position:absolute;
  left:7px;
  top:16px;
  width:168px;
  height:159px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:159px;
}
#u94 {
  position:absolute;
  left:2px;
  top:72px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:110px;
  top:110px;
  width:45px;
  height:44px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:44px;
}
#u96 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:40px;
  top:47px;
  width:56px;
  height:56px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u97_img.selected {
}
#u97.selected {
  opacity:0.3;
}
#u98 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:110px;
  top:34px;
  width:56px;
  height:56px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u99_img.selected {
}
#u99.selected {
  opacity:0.3;
}
#u100 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:24px;
  top:110px;
  width:56px;
  height:56px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u101_img.selected {
}
#u101.selected {
  opacity:0.3;
}
#u102 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:550px;
  top:1050px;
  width:58px;
  height:57px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:57px;
}
#u103_img.mouseOver {
  left:-5px;
  top:-5px;
  width:68px;
  height:67px;
}
#u103.mouseOver {
}
#u104 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:357px;
  top:157px;
  width:253px;
  height:147px;
  overflow:hidden;
}
#u105_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:147px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u105_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u105_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:147px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u105_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:147px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:147px;
}
#u107 {
  position:absolute;
  left:2px;
  top:66px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:210px;
  top:0px;
  width:43px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
