body {
  margin:0px;
  background-image:url('../../images/主页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:21px;
  top:52px;
  width:594px;
  height:1046px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:1046px;
}
#u2 {
  position:absolute;
  left:2px;
  top:515px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:53px;
  top:530px;
  width:70px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3_img.mouseOver {
  left:-15px;
  top:-15px;
  width:100px;
  height:100px;
}
#u3.mouseOver {
}
#u3_img.mouseDown {
  left:-15px;
  top:-15px;
  width:100px;
  height:100px;
}
#u3.mouseDown {
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:118px;
  top:99px;
  width:401px;
  height:401px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:401px;
}
#u6 {
  position:absolute;
  left:2px;
  top:192px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:91px;
  top:691px;
  width:454px;
  height:309px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:309px;
}
#u8 {
  position:absolute;
  left:2px;
  top:146px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:445px;
  top:685px;
  width:75px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:445px;
  top:775px;
  width:75px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:445px;
  top:864px;
  width:75px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:445px;
  top:685px;
  width:75px;
  height:40px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:35px;
  top:0px;
  width:40px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:445px;
  top:775px;
  width:75px;
  height:40px;
  overflow:hidden;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:35px;
  top:0px;
  width:40px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:445px;
  top:864px;
  width:75px;
  height:40px;
  overflow:hidden;
}
#u25_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:35px;
  top:0px;
  width:40px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
