body {
  margin:0px;
  background-image:url('../../images/页面_3/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:252px;
  width:640px;
  height:680px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:680px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:680px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:680px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:680px;
}
#u2 {
  position:absolute;
  left:2px;
  top:332px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:152px;
  top:172px;
  width:336px;
  height:336px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:336px;
}
#u4 {
  position:absolute;
  left:2px;
  top:160px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:330px;
  top:437px;
  width:32px;
  height:63px;
  font-size:16px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:63px;
}
#u5_img.selected {
}
#u5.selected {
}
#u5_img.disabled {
}
#u5.disabled {
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:538px;
  top:400px;
  width:32px;
  height:63px;
  font-size:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:63px;
}
#u7_img.selected {
}
#u7.selected {
}
#u7_img.disabled {
}
#u7.disabled {
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:158px;
  top:302px;
  width:31px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:41px;
}
#u9_img.selected {
}
#u9.selected {
}
#u9_img.disabled {
}
#u9.disabled {
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:140px;
  top:567px;
  width:32px;
  height:63px;
  font-size:16px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:63px;
}
#u11_img.selected {
}
#u11.selected {
}
#u11_img.disabled {
}
#u11.disabled {
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:110px;
  top:162px;
  width:32px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:498px;
  top:157px;
  width:32px;
  height:63px;
  font-size:16px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:63px;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_img.disabled {
}
#u15.disabled {
}
#u16 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u18 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:560px;
  top:62px;
  width:40px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:308px;
  top:580px;
  width:24px;
  height:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:1041px;
  width:640px;
  height:95px;
  overflow:hidden;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:95px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:95px;
  width:640px;
  height:1136px;
  overflow:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:446px;
  width:640px;
  height:2309px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:2309px;
}
#u26 {
  position:absolute;
  left:2px;
  top:1146px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:95px;
  width:640px;
  height:465px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:465px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:465px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:465px;
}
#u29 {
  position:absolute;
  left:2px;
  top:224px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:550px;
  top:61px;
  width:50px;
  height:53px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:53px;
}
#u31 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:30px;
  top:343px;
  width:90px;
  height:90px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u32_img.selected {
}
#u32.selected {
}
#u33 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:179px;
  top:44px;
  width:305px;
  height:305px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:305px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/页面_3/u34_state0.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:contain;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:30px;
  top:30px;
  width:250px;
  height:250px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:223px;
  top:365px;
  width:217px;
  height:69px;
  overflow:hidden;
}
#u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:69px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/页面_3/u36_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u36_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:95px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:95px;
}
#u38 {
  position:absolute;
  left:2px;
  top:40px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:30px;
  top:0px;
  width:90px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:52px;
  top:170px;
  width:46px;
  height:25px;
}
#u40_img {
  position:absolute;
  left:-8px;
  top:-8px;
  width:66px;
  height:45px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:1131px;
  width:640px;
  height:100px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u43 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:250px;
  top:1060px;
  width:140px;
  height:140px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u45 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:120px;
  top:950px;
  width:400px;
  height:150px;
  overflow:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:153px;
  top:56px;
  width:95px;
  height:94px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:94px;
}
#u48 {
  position:absolute;
  left:2px;
  top:39px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u46_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:158px;
  top:68px;
  width:84px;
  height:84px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u49_img.selected {
}
#u49.selected {
  opacity:0.3;
}
#u50 {
  position:absolute;
  left:2px;
  top:34px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:158px;
  top:68px;
  width:84px;
  height:84px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u51_img.selected {
}
#u51.selected {
  opacity:0.3;
}
#u52 {
  position:absolute;
  left:2px;
  top:34px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:160px;
  top:68px;
  width:82px;
  height:84px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u53_img.selected {
}
#u53.selected {
  opacity:0.3;
}
#u54 {
  position:absolute;
  left:2px;
  top:34px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:159px;
  top:68px;
  width:83px;
  height:84px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:84px;
}
#u55_img.selected {
}
#u55.selected {
  opacity:0.3;
}
#u56 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:170px;
  top:80px;
  width:60px;
  height:60px;
}
#u57_img {
  position:absolute;
  left:-15px;
  top:-15px;
  width:90px;
  height:90px;
}
#u58 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:548px;
  top:1028px;
  width:65px;
  height:72px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:72px;
}
#u60 {
  position:absolute;
  left:2px;
  top:28px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:1136px;
  width:640px;
  height:200px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:200px;
}
#u62 {
  position:absolute;
  left:2px;
  top:92px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:42px;
  top:429px;
  width:440px;
  height:1px;
  overflow:hidden;
  visibility:hidden;
}
#u63_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:196px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:196px;
}
#u65 {
  position:absolute;
  left:2px;
  top:90px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:330px;
  top:100px;
  width:90px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
